figure, h2{
    margin: 0;
}
footer{
    background-image: url(jp_topoFundo.jpg);
    padding: 20px 0px;
}
.logo{
    background-image: url(jp_topoFundo.jpg);
    overflow: auto;
    height: 250px;
    overflow: hidden;
}
body,head,.sem-margin,section,p{
    margin:0;
}
.sem-margin{
    float:left;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
}
nav{
    background-image: url(jp_menuFundo.jpg);
    border-color: white;
    border-style: solid;
    box-shadow: 0px 0px 20px 12px rgba(19, 76, 78, 0.5);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 400px;
    margin-right: 100px;
    margin-top: 100px;
    border-radius: 20px 0px 20px 0px;
}
.margin-nav{
    text-decoration: none;
    text-shadow: 1px 2px 1px rgb(129, 129, 129);
    font-weight:900;
    color:white; 
    padding: 0px;
    margin: 0px;
}
.margin-nav:hover{
    color: red;
}
.margin-nav-container{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
h1{
    text-align: center;
}
body{
    width: 900px;
    margin: 0 auto;
    position: relative;
    background-color:rgb(18, 49, 35);
}
h1{
    font-family: "jurassic";
    font-size: 90px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
   background-color: rgb(85, 0, 0);
}
.container{
    margin-right: 0;
    margin-top: 0;
    padding-top: 40px;
    padding-bottom:40px;
    padding-left: 50px;
    padding-right: 50px;
}
.texto-preto{
    color: black;
}
p,h1,h2,table,label{
    color: white;
}

footer{
    text-align: end;
}
.premios{
    background-image: url(jp_fundoSelva.jpg);
    height: 500px;
    background-attachment: fixed;
}
.tabela{
    margin-top: 50px;
}
.tabela1{
    background-color: rgb(51, 51, 51);
}
.tabela2{
    background-color: rgb(153,153,153);
    color: black;
}
.tabela3{
    background-color: rgb(221, 221, 0);
    color: black;
}
td,th{
    padding: 20px 40px;
}
table{
    margin:0 auto;
    text-align: center;
}
.video{
    text-align: center;
    margin-top: 40px;
}
form{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
label{
    font-family: "jurassic";
    color:white;
    font-size: 30px;
    font-weight: 500;
}
.campo-de-informação{
    margin-left:10px
    
}
.alinhar{
    margin-left: 28px;
}
.botao-enviar{
    background-color: rgb(221, 221, 0);
    border: none;
    border-radius: 36px;
    padding: 10px 10px;
    color:rgb(85, 0, 0);
    cursor: pointer;
    transition-duration: 0.5s;
}
.botao-enviar:hover{
    opacity: 0.8;
}
.botao-enviar:active{
    opacity: 0.2;
}
